section {
    max-width: 1440px;
    margin: 0 auto !important;
}
.search-tag {
    background: #1B3C5C;
    padding: 9px 25px;
    border-radius: 50px;
    color: #fff;
}

.swiper-pagination-progressbar {
    position: absolute !important;
    bottom: 0 !important;
    top: auto !important;
    left: 0;
    width: 100%;
    border-radius: 10px !important;
    height: 8px !important;
    background-color: #e5e7eb;
    z-index: 10;
}

.swiper-pagination-progressbar-fill {
    background-color: #00883e !important;
}